* {
    margin: 0;
    color: deeppink;
    font-family: 'Roboto Mono', monospace;
    /* font-style: italic; */
    text-shadow: 1px 1px 5px red;
    cursor: none;
    user-select: none;
    /* pointer-events: none; */
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

#coorp-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 1vh;
    right: 2vw;
}

.coorp-full-screen {
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
}

#coorp-wrap {
    /* width: 600px; */
    width: 14vw;
    overflow: hidden;
    /* position: absolute; */
    transition: opacity 1.5s ease-in-out;
}

#terminal, #reaction {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    transition: opacity 1.5s ease-in-out;
    /* background-color: lime; */
}

#terminal p {
    font-size: 0.85vw;
}

#reaction {
    position: fixed;
    align-items: flex-end;
    height: 50%;
    right: 0;
    bottom: 0;
    padding-right: 2.5vw;
    padding-bottom: 6vh;
    /* background-color: lime; */
}

#reaction p {
    margin: -0.7vh;
    font-size: 0.85vw;
}

#enter-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}

#ai {
    position: relative;
    margin-top: 20px;
    /* background-color: aqua; */
}

#rat {
    position: relative;
    margin-right: 80px;
    /* background-color: lime; */
}

.emoticon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin-top: 7px;
    white-space: pre;
    text-align: left;
    /* border: 2px solid gold; */
    /* background-color: aqua; */
}

.emoticon p {
    width: 100%;
    /* background-color: lime; */
    /* border: 2px solid gold; */
}

p {
    white-space: pre;
}

#gradient {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, black, transparent, black);
}

#vid-wrap {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

video {
    /* position: fixed;
    z-index: -2;
    width: 100%; */
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
}

.fade {
    animation: fade 0.3s ease-in-out 1;
}

.flash {
    animation: flash 0.3s ease-in-out infinite;
}

.invert {
    animation: invert 0.3s ease-in-out 3;
}

@keyframes fade {
    0%   {opacity: 0; transform: translateY(10px)}
    100% {opacity: 1; transform: translateY(0px)}
}

@keyframes flash {
    0%   {opacity: 0}
    50%  {opacity: 1}
    100% {opacity: 0}
}

@keyframes invert {
    0%   {filter: invert(0)}
    50%  {filter: invert(1)}
    100% {filter: invert(0)}
}
